---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}

const { class: klass } = Astro.props;
---

<div class={twMerge("relative", klass)}>
  <input
    id="products-search-input"
    type="text"
    class="p-4 pl-6 pr-10 sm:p-5 sm:pl-8 sm:pr-[4.5rem] block w-full border border-gray-300 rounded-lg text-md focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-slate-100 dark:bg-slate-900 dark:border-transparent dark:text-gray-400 dark:focus:border-gray-700 dark:focus:ring-gray-600 dark:shadow-white dark:focus:shadow-lg outline-none"
    placeholder="Search For Products"
  />
  <div
    class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
  >
    <svg
      width="19"
      height="19"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-sm"
    >
      <path
        d="M8.8197 16.0625C4.7847 16.0625 1.5072 12.785 1.5072 8.75C1.5072 4.715 4.7847 1.4375 8.8197 1.4375C9.1272 1.4375 9.3822 1.6925 9.3822 2C9.3822 2.3075 9.1272 2.5625 8.8197 2.5625C5.4072 2.5625 2.6322 5.3375 2.6322 8.75C2.6322 12.1625 5.4072 14.9375 8.8197 14.9375C12.2322 14.9375 15.0072 12.1625 15.0072 8.75C15.0072 8.4425 15.2622 8.1875 15.5697 8.1875C15.8772 8.1875 16.1322 8.4425 16.1322 8.75C16.1322 12.785 12.8547 16.0625 8.8197 16.0625Z"
        fill="#5E7790"></path>
      <path
        d="M15.5697 4.8125H11.0697C10.7622 4.8125 10.5072 4.5575 10.5072 4.25C10.5072 3.9425 10.7622 3.6875 11.0697 3.6875H15.5697C15.8772 3.6875 16.1322 3.9425 16.1322 4.25C16.1322 4.5575 15.8772 4.8125 15.5697 4.8125Z"
        fill="#5E7790"></path>
      <path
        d="M13.3197 7.0625H11.0697C10.7622 7.0625 10.5072 6.8075 10.5072 6.5C10.5072 6.1925 10.7622 5.9375 11.0697 5.9375H13.3197C13.6272 5.9375 13.8822 6.1925 13.8822 6.5C13.8822 6.8075 13.6272 7.0625 13.3197 7.0625Z"
        fill="#5E7790"></path>
      <path
        d="M15.6898 17.5925C15.6298 17.5925 15.5698 17.585 15.5173 17.5775C15.1648 17.5325 14.5273 17.2925 14.1673 16.22C13.9798 15.6575 14.0473 15.095 14.3548 14.6675C14.6623 14.24 15.1798 14 15.7723 14C16.5373 14 17.1373 14.2925 17.4073 14.81C17.6773 15.3275 17.6023 15.9875 17.1748 16.625C16.6423 17.4275 16.0648 17.5925 15.6898 17.5925ZM15.2398 15.8675C15.3673 16.2575 15.5473 16.4525 15.6673 16.4675C15.7873 16.4825 16.0123 16.34 16.2448 16.0025C16.4623 15.68 16.4773 15.4475 16.4248 15.3425C16.3723 15.2375 16.1623 15.125 15.7723 15.125C15.5398 15.125 15.3673 15.2 15.2698 15.3275C15.1798 15.455 15.1648 15.65 15.2398 15.8675Z"
        fill="#5E7790"></path>
    </svg>
  </div>
  <div
    class="absolute inset-y-0 end-2 flex gap-1 items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none opacity-50"
  >
    <span
      class="text-xs px-2 py-1 bg-slate-300 dark:bg-slate-600 dark:text-white rounded"
      >Ctrl</span
    >
    <span
      class="text-xs px-2 py-1 bg-slate-300 dark:bg-slate-600 dark:text-white rounded"
      >K</span
    >
  </div>
</div>
<script>
  const input = document.getElementById(
    "products-search-input"
  ) as HTMLInputElement | null;

  document.addEventListener("keydown", (e) => {
    if (input && e.key === "Enter" && document.activeElement === input) {
      alert("Search for: " + input.value);
    }
    if (input && e.ctrlKey && e.key === "k") {
      e.preventDefault();
      input.focus();
    }
  });

  // input?.addEventListener("focus", (e) => {
  //   if(input && e.key === "Enter") {
  //     input.focus();
  //   }
  // });
</script>
