---
import { twMerge } from "tailwind-merge";

interface Props {
  id: number;
  title: string;
  description: string;
  image: string;
  href: string;
  price: string | number;
  class?: string;
}

const {
  id,
  description,
  href,
  image,
  price,
  title,
  class: klass,
} = Astro.props;
---

<a
  class={twMerge(
    "flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]",
    klass
  )}
  href="/test"
>
  <div
    transition:name="card"
    class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
  >
    <div class="w-full h-72 overflow-hidden">
      <img
        class="w-full h-auto rounded-t-xl group-hover:scale-105 transition-transform duration-500 ease-in-out"
        src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80"
        alt="Image Description"
      />
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        Card title
      </h3>
      <p class="mt-1 text-gray-500 dark:text-gray-400">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <p class="mt-5 text-xs text-gray-500 dark:text-gray-500">
        Last updated 5 mins ago
      </p>
    </div>
  </div>
</a>
