---
import Layout from "../layouts/Layout.astro";
import ItemCardSmall from "@components/cards/ItemCardSmall.astro";
import Divider from "@components/dividers/Divider.astro";
import { getLatestItems } from "../api/items.api";
import { bounce, animateIn } from "@utils/animation.utils";

const items = await getLatestItems();
---

<Layout title="Home Page">
  <h1 transition:name="latest-sales-title">Latest Sales</h1>
  <div
    transition:name="latest-items"
    class="flex flex-wrap gap-5 justify-center"
  >
    {
      items.slice(0, 4).map((item) => (
        <a href={"/items/" + item.id}>
          <ItemCardSmall
            class="w-72"
            {...item}
            transition:animate={animateIn}
          />
        </a>
      ))
    }
  </div>

  <Divider
    text="See More"
    href="/latest-sales"
    transitionName="latest-items-see-more"
  />
</Layout>
