---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ItemCardSmall from "../components/cards/ItemCardSmall.astro";
import { getLatestItems } from "../api/items.api";

const items = await getLatestItems();

const bounceAnimation = {
  old: {
    name: "slide-down", // same name as the keyframe in layouts/Main
    duration: "0.7s",
    easing: "linear",
    fillMode: "forwards",
  },
  new: {
    name: "slide-down",
    duration: "0.7s",
    easing: "linear",
    fillMode: "backwards",
  },
};

const bounce = {
  forwards: bounceAnimation,
  backwards: bounceAnimation,
};

const animateInAnimation = {
  old: {
    name: "animate-in", // same name as the keyframe in layouts/Main
    duration: "0.7s",
    easing: "linear",
    fillMode: "forwards",
  },
  new: {
    name: "animate-in",
    duration: "0.7s",
    easing: "linear",
    fillMode: "backwards",
  },
};

const animateIn = {
  forwards: animateInAnimation,
  backwards: animateInAnimation,
};
---

<Layout title="Welcome to Astro.">
  <div
    transition:name="latest-sales"
    class="flex flex-wrap gap-5 justify-center"
  >
    {
      items.slice(0, 4).map((item) => (
        <a href={"/items/" + item.id}>
          <ItemCardSmall
            class="w-72"
            {...item}
            transition:animate={animateIn}
          />
        </a>
      ))
    }
  </div>
  <div
    transition:animate={bounce}
    class="py-3 flex items-center text-sm text-gray-800 before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 dark:text-white dark:before:border-gray-600"
  >
    <a class="text-blue-600 hover:text-blue-500 opacity-90" href="latest-sales">
      See More
    </a>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1500px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .animate-in {
    animation: animate-in 0.5s ease-in-out;
  }

  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-100vh);
    }
  }
</style>
