---
import Layout from "@layouts/Layout.astro";
import Divider from "@components/dividers/Divider.astro";
import ItemCardSmall from "@components/cards/ItemCardSmall.astro";
import { getLatestItems } from "../api/items.api";
import { bounce, animateIn } from "@utils/animation.utils";
import BreadCrumbs from "@components/BreadCrumbs.astro";

const items = await getLatestItems();
---

<Layout title="Latest Sales">
  <h2 transition:name="latest-sales-title">Latest Sales</h2>
  <!-- <BreadCrumbs paths={[{ name: "Latest Sales", href: "/latest-sales" }]} /> -->
  <div
    transition:name="latest-items"
    class="flex flex-wrap gap-5 justify-center"
  >
    {
      items.map((item) => (
        <a href={"/items/" + item.id}>
          <ItemCardSmall
            class="w-72"
            {...item}
            transition:animate={animateIn}
          />
        </a>
      ))
    }
  </div>
  <Divider
    class="opacity-0 pointer-events-none max-h-0 overflow-hidden"
    text="See More"
    href="/latest-sales"
    transitionName="latest-items-see-more"
  />
</Layout>
