---
import MainLogo from "@components/logos/MainLogo.astro";
import MainSearchInput from "@components/inputs/MainSearchInput.astro";
---

<!-- ========== HEADER ========== -->
<header
  class="flex flex-wrap md:justify-start md:items-center md:flex-nowrap z-50 w-full bg-white text-sm py-3 md:py-0 dark:bg-gray-800 min-h-14"
>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8"
    aria-label="Global"
  >
    <div class="relative md:flex md:items-center md:justify-between py-2">
      <MainLogo class="h-12 w-48" />
      <MainSearchInput
        class="min-w-24 sm:min-w-48 md:min-w-96 lg:translate-x-[-25%]"
      />
      <div>test</div>
    </div>
  </nav>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

    .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1.8rem;
      /* color: #3256a8; */

      /* text-shadow:
      -1px 0 #f3f4f6,
      0 1px #f3f4f6,
      1px 0 #f3f4f6,
      0 -1px #f3f4f6; */
    }

    .logo span {
      font-size: 2rem;
    }
  </style>
  <!-- ========== END HEADER ========== -->
</header>
