---

---

<!-- ========== HEADER ========== -->
<header
  class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full bg-white text-sm py-3 md:py-0 dark:bg-gray-800"
>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8"
    aria-label="Global"
  >
    <div class="relative md:flex md:items-center md:justify-between">
      <div class="flex items-center justify-between">
        <a
          class="flex-none text-xl font-semibold text-[#3256a8] dark:text-[#f3f4f6] dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 hover:scale-105 transition"
          href="#"
          aria-label="Brand"
          ><p
            class="logo from-blue-400 dark:from-blue-300 to-indigo-800 dark:to-indigo-600 bg-clip-text text-transparent bg-gradient-to-r"
          >
            ByteLaptops
          </p></a
        >
        <div class="md:hidden">
          <button
            type="button"
            class="hs-collapse-toggle flex justify-center items-center w-9 h-9 text-sm font-semibold rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            data-hs-collapse="#navbar-collapse-with-animation"
            aria-controls="navbar-collapse-with-animation"
            aria-label="Toggle navigation"
          >
            <svg
              class="hs-collapse-open:hidden flex-shrink-0 w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><line x1="3" x2="21" y1="6" y2="6"></line><line
                x1="3"
                x2="21"
                y1="12"
                y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
            >
            <svg
              class="hs-collapse-open:block hidden flex-shrink-0 w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
            >
          </button>
        </div>
      </div>

      <div
        id="navbar-collapse-with-animation"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
      >
        <div
          class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500"
        >
          <div
            class="flex flex-col gap-x-0 mt-5 divide-y divide-dashed divide-gray-200 md:flex-row md:items-center md:justify-end md:gap-x-7 md:mt-0 md:ps-7 md:divide-y-0 md:divide-solid dark:divide-gray-700"
          >
            <a
              class="font-medium text-blue-600 py-3 md:py-6 dark:text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              href="#"
              aria-current="page">Home Page</a
            >

            <a
              class="font-medium text-blue-600 py-3 md:py-6 dark:text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              href="/latest-sales"
              aria-current="page">Latest Sales</a
            >

            <div
              class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none] sm:[--trigger:hover]"
            >
              <button
                type="button"
                class="py-3 md:py-6 flex items-center w-full text-gray-600 hover:text-gray-400 font-medium dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              >
                1 Col
                <svg
                  class="ms-1 flex-shrink-0 w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
                >
              </button>

              <div
                class="hs-dropdown-menu transition-[opacity,margin] sm:border duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 hidden z-10 top-full sm:w-48 bg-white sm:shadow-md rounded-lg py-2 sm:px-2 dark:bg-gray-800 sm:dark:border dark:border-gray-700 dark:divide-gray-700"
              >
                <div class="flex flex-col">
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#"
                  >
                    About
                  </a>
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#"
                  >
                    Services
                  </a>
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#"
                  >
                    Customer Story
                  </a>
                </div>
              </div>
            </div>

            <a
              class="font-medium text-gray-500 hover:text-gray-400 py-3 md:py-6 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              href="#"
            >
              About Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    /* color: #3256a8; */

    /* text-shadow:
      -1px 0 #f3f4f6,
      0 1px #f3f4f6,
      1px 0 #f3f4f6,
      0 -1px #f3f4f6; */
  }

  .logo span {
    font-size: 2rem;
  }
</style>
<!-- ========== END HEADER ========== -->
