---
import MainLogo from "@components/logos/MainLogo.astro";
import MainSearchInput from "@components/inputs/MainSearchInput.astro";
---

<!-- ========== HEADER ========== -->
<header
  class="flex flex-wrap md:justify-start md:items-center md:flex-nowrap z-50 w-full bg-white text-sm py-3 md:py-0 dark:bg-gray-800 min-h-14"
>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8"
    aria-label="Global"
  >
    <div class="relative md:flex md:items-center md:justify-between py-2">
      <MainLogo class="h-12 w-48" />
      <MainSearchInput
        class="min-w-24 sm:min-w-48 md:min-w-96 lg:translate-x-[-25%]"
      />
      <div>
        <div
          class="flex justify-start items-start relative gap-2.5 p-[9px] rounded bg-[#f1f5fb] dark:bg-gray-700 hover:bg-[#e4e9f2] dark:hover:bg-gray-600 transition-colors duration-200 cursor-pointer"
        >
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="flex-grow-0 flex-shrink-0 w-6 h-6"
            preserveAspectRatio="none"
          >
            <path
              d="M5.2995 6.38C5.1095 6.38 4.9095 6.3 4.7695 6.16C4.4795 5.87 4.4795 5.39 4.7695 5.1L8.3995 1.47C8.6895 1.18 9.1695 1.18 9.4595 1.47C9.7495 1.76 9.7495 2.24 9.4595 2.53L5.8295 6.16C5.6795 6.3 5.4895 6.38 5.2995 6.38Z"
              fill="#f1f5fb"></path>
            <path
              d="M18.9195 6.38C18.7295 6.38 18.5395 6.31 18.3895 6.16L14.7595 2.53C14.4695 2.24 14.4695 1.76 14.7595 1.47C15.0495 1.18 15.5295 1.18 15.8195 1.47L19.4495 5.1C19.7395 5.39 19.7395 5.87 19.4495 6.16C19.3095 6.3 19.1095 6.38 18.9195 6.38Z"
              fill="#f1f5fb"></path>
            <path
              d="M20.3195 10.6C20.2495 10.6 20.1795 10.6 20.1095 10.6H19.8795H4.1095C3.4095 10.61 2.6095 10.61 2.0295 10.03C1.5695 9.58001 1.3595 8.88001 1.3595 7.85001C1.3595 5.10001 3.3695 5.10001 4.3295 5.10001H19.8895C20.8495 5.10001 22.8595 5.10001 22.8595 7.85001C22.8595 8.89001 22.6495 9.58001 22.1895 10.03C21.6695 10.55 20.9695 10.6 20.3195 10.6ZM4.3295 9.10001H20.1195C20.5695 9.11001 20.9895 9.11001 21.1295 8.97001C21.1995 8.90001 21.3495 8.66001 21.3495 7.85001C21.3495 6.72001 21.0695 6.60001 19.8795 6.60001H4.3295C3.1395 6.60001 2.8595 6.72001 2.8595 7.85001C2.8595 8.66001 3.0195 8.90001 3.0795 8.97001C3.2195 9.10001 3.6495 9.10001 4.0895 9.10001H4.3295Z"
              fill="#f1f5fb"></path>
            <path
              d="M9.86949 18.3C9.45949 18.3 9.11949 17.96 9.11949 17.55V14C9.11949 13.59 9.45949 13.25 9.86949 13.25C10.2795 13.25 10.6195 13.59 10.6195 14V17.55C10.6195 17.97 10.2795 18.3 9.86949 18.3Z"
              fill="#f1f5fb"></path>
            <path
              d="M14.4695 18.3C14.0595 18.3 13.7195 17.96 13.7195 17.55V14C13.7195 13.59 14.0595 13.25 14.4695 13.25C14.8795 13.25 15.2195 13.59 15.2195 14V17.55C15.2195 17.97 14.8795 18.3 14.4695 18.3Z"
              fill="#f1f5fb"></path>
            <path
              d="M14.9995 22.75H8.9695C5.3895 22.75 4.5895 20.62 4.2795 18.77L2.8695 10.12C2.7995 9.71 3.0795 9.33 3.4895 9.26C3.8995 9.19 4.2795 9.47 4.3495 9.88L5.7595 18.52C6.0495 20.29 6.6495 21.25 8.9695 21.25H14.9995C17.5695 21.25 17.8595 20.35 18.1895 18.61L19.8695 9.86C19.9495 9.45 20.3395 9.18 20.7495 9.27C21.1595 9.35 21.4195 9.74 21.3395 10.15L19.6595 18.9C19.2695 20.93 18.6195 22.75 14.9995 22.75Z"
              fill="#f1f5fb"></path>
          </svg>
        </div>
      </div>
    </div>
  </nav>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

    .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1.8rem;
      /* color: #3256a8; */

      /* text-shadow:
      -1px 0 #f3f4f6,
      0 1px #f3f4f6,
      1px 0 #f3f4f6,
      0 -1px #f3f4f6; */
    }

    .logo span {
      font-size: 2rem;
    }
  </style>
  <!-- ========== END HEADER ========== -->
</header>
