---
import ImageCard from "../../components/cards/ItemCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Test Page">
  <main>
    <ImageCard transition:persist id={1} />
    <!-- <div >
      <p>Card</p>
      <img
        class="w-full h-full rounded-t-xl aspect-square"
        src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80"
        alt="Image Description"
      />
    </div> -->
  </main>
</Layout>
